html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: Nunito;
    background-color: #122235;
    background-image:
        radial-gradient(at 47% 33%, hsl(0.00, 0%, 0%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    /* cursor: none; */
}
#x3dprev{
    width:200px !important; 
    height: 300px !important;
}
/* #cursor_mouse{
    position:fixed;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
} */
a:hover~.cursor {
    transform: scale(6);
}

#navbar {
    height: 15vh;
    min-height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#navtoolbar {
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;

}

#navtoolbar a {
    text-decoration: none;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: yellow;
    box-sizing: border-box;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#navtoolbar a:hover,
a:focus {
    color: tomato;
}

#mtt_head {
    width: 100px;
    height: 100px;
}
#quarkz_head {
    width:150px
}

#navbar_mobile {
    display: none;
}

#nav_mob {
    display: none;
}

#nav_mob a:hover {
    filter: grayscale(1)
}

.mobi_ico {
    width: 40px;
    height: 40px;
}

#titlepage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* height: 40vh; */
}

#main_uid {
    /* background-color: #000000; */

}

#con {
    margin-left: 20px;
    padding: 30px;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#main_hd {
    font-size: 60px;
    color: springgreen;
    font-weight: bolder;
    text-align: center;
}
.quarkz_cont::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    height:70vh;
    width:100%;
    background-size: cover !important;
    background: url('/assets/quarkz_background.jpg');
    filter: grayscale(100%);
    z-index: 0;
}
.quarkz_cont{
    height:70vh;
    background-size: cover;
    width:100%;
    z-index: 1;
    display:flex;
    flex-direction:column;
}
.txt_container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgb(133, 155, 144);
}

.txt_container p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;

}

.txt_container p span.typed-text {
    font-weight: normal;
    color: yellow;
}

.txt_container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.txt_container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

@media only screen and (max-width: 700px) {

    /* For mobile phones: */
    #navtoolbar {
        display: none;

    }

    #nav_mob {
        display: block;
    }
}

@media only screen and (max-width: 520px) {

    /* For mobile phones: */
    #abt_content {
        display: flex;
        flex-direction: column !important;
    }

    #container {
        width: 90vw !important;
    }

    #skills {
        width: 90vw !important;
    }

    #yt_holdr {
        width: 90vw !important;
    }

    #yt_player {
        width: 90vw !important;
    }

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #122235;
}

::-webkit-scrollbar-thumb {
    background: rgb(245, 208, 2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(250, 101, 2);
}

@media only screen and (max-width: 335px) {

    /* For mobile phones: */
    #too_small {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(17px) saturate(180%);
        -webkit-backdrop-filter: blur(17px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        text-align: center;
    }

    #container {
        display: none !important;
    }
}

#e404 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(17px) saturate(180%);
    -webkit-backdrop-filter: blur(17px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
    width: 70vw;
    height: 70vh;
}

#skills {
    display: flex;
    align-items: center;
    width: 70vw;
    flex-direction: column;
    justify-content: center;
}

/* Background styles */
body {}

#too_small {
    display: none;
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(17px) saturate(180%);
    -webkit-backdrop-filter: blur(17px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#container {
    width: 70vw;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.yt_plr {
    width: 80vw;
}

#about {
    display: flex;
    flex-direction: column;
    /* height: 50vh; */
    align-items: center;
}

#projects {
    display: flex;
    flex-direction: column;
    /* height: 40vh; */
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: column;
    /* height: 40vh; */
    align-items: center;
}

#abt_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ip-form {
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border-color: rgba(255, 255, 255, 0.125);
    ;
    border-style: solid;
    background-color: rgb(46, 35, 35);
    max-width: 300px;
    width: 30vw;
    color: rgb(233, 217, 220);
    font-weight: bold;
    font-family: Nunito;
    text-decoration: none;
    /* pointer-events: none; */

}

.ip-form-title {
    color: chartreuse;
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}

.ip-form:hover .ip-form:focus {
    border-color: darkorange;
}

.ct_it {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#ct_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(17px) saturate(180%);
    -webkit-backdrop-filter: blur(17px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
    margin: 20px;

}

#skill_info {
    display: flex;
    flex-direction: row;
    width: 55vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 4px;
}

.skill_card,.prep_card {
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(17px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    width: 250px;
    height: 35vh;
    justify-content: space-evenly;
    margin: 10px;
    color: grey;
    text-align: center;
}
.prep_card{
    height: max-content;
    padding:10px;
    min-height: 25vh;
}
.skill_card{
    height: 35vh;
}
.prep_card h2{
    color: rgb(212,212,0);
    margin:5px;
}
.skill_card svg:hover{
    filter:grayscale(1)
}
.sk_card_head {
    font-size: 25px;
    color: rgb(255, 0, 242);
    font-weight: bold;
}

.sk_card_info {
    color: rgb(185, 174, 174);
    text-align: center;
}

.sk_logos {
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sk_logo {
    height: 50px;
    width: 50px;
    margin: 5px;
}

#yt_videos {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sk_card_action {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: #2d333a;
    color: white;
    border-radius: 30px 30px 30px 30px;
}

.sk_card_action:hover {
    background-color: #383e46;
}

.sc_lnk:hover {
    /* filter:grayscale(0.9); */
    cursor: pointer;
    filter: brightness(0.6);
    /* filter:drop-shadow(0.9); */
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: grey;
}

#top_Btn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(25, 37, 58, 0.75);
    /* #383e46; Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#top_Btn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#dontregretthis:target {
    display: block !important;
    z-index: 3;
    margin: auto;
}
